<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.dengzhanglin.xyeh.mapper.CategoryMapper">
    <sql id="goodsColumns">
      id, name, pid
    </sql>

    <insert id="add" useGeneratedKeys="true" keyColumn="id" keyProperty="id" parameterType="Category">
        insert into category (name, pid) values (#{name}, #{pid})
    </insert>

    <delete id="delete" parameterType="java.lang.Integer">
        delete from category where id = #{id}
    </delete>

    <select id="getAll" resultType="Category">
        select <include refid="goodsColumns"/> from category
    </select>

    <select id="getTopCategories" resultType="Category">
      select <include refid="goodsColumns"/> from category where pid = 0
    </select>

    <select id="subCategories" parameterType="java.lang.Integer" resultType="Category">
        select <include refid="goodsColumns"/> from category where pid = #{pid}
    </select>

    <select id="findById" parameterType="java.lang.Integer" resultType="Category">
        select <include refid="goodsColumns"/> from category where id = #{id}
    </select>
</mapper>
